<div class="home animate__animated animate__bounceInRight">
  <div class="home__info">
    <div class="home__info__title">
      Hi, I'm <span>Jose Fernandez</span>, a Front-end Developer.
    </div>
    <div class="home__info__subtitle">
      {{ subtitle }}
    </div>
    <div class="home__info__cv">
      <a href="assets/cv.pdf" download="cv-fernandez-figueroa">Download CV</a>
    </div>
  </div>
  <div class="home__banner">
    <img
      src="assets/pattern.png"
      class="home__banner__bg"
      alt="Pattern Image"
    />
    <img
      src="assets/developer.png"
      class="home__banner__dev"
      alt="Developer Image"
    />
  </div>
</div>
