.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);

  &__logo {
    width: 30%;

    img {
      max-width: 150px;
      height: auto;
    }
  }

  &__info {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      cursor: pointer;
      padding-bottom: 5px;
    }

    i {
      cursor: pointer;
    }
  }

  &__menu {
    display: none;
  }
}

.active {
  color: var(--primary-color);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-color);
}

.yellow {
  color: rgb(238, 238, 54);
}

button {
  appearance: none !important;
  background-color: transparent !important;
  border: none;

  cursor: pointer;
  color: var(--primary-color);
}

@media only screen and (max-width: 576px) {
  .header {
    &__info {
      display: none;
    }

    &__menu {
      display: block;
    }
  }

  .active {
    border-bottom-width: 0px;
  }

  button {
    color: var(--text-color);
    background-color: var(--bg-color) !important;
  }
}
