.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);

  &__logo {
    width: 30%;

    img {
      max-width: 150px;
      height: auto;
    }
  }

  &__info {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      cursor: pointer;
      padding-bottom: 5px;
    }

    i {
      cursor: pointer;
    }
  }
}

.active {
  color: var(--primary-color);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-color);
}

.yellow {
  color: rgb(238, 238, 54);
}
