.about {
  margin-top: 50px;

  &__title {
    text-align: center;
    color: var(--text-color);
  }

  &__content {
    margin-top: 50px;

    &__subtitle {
      margin-top: 30px;
      color: var(--text-color);
    }

    &__skills {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;

      &__img {
        display: flex;
        align-items: center;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .about {
    &__content {
      &__skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
