/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff4321;
  --secondary-color: #313131;
}

.dark-theme {
  --primary-color: #313131;
  --secondary-color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}
