/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff4321;
  --text-color: #313131;
  --bg-color: #fff;

  --animate-duration: 1s;
  --animate-delay: 0.9s;
}

.dark-theme {
  --text-color: #fff;
  --bg-color: #130f0f;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--bg-color);
}
