.portfolio {
  margin-top: 50px;

  &__title {
    text-align: center;
    color: var(--text-color);
  }

  &__content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}
