.portfolio {
  margin-top: 50px;

  &__title {
    text-align: center;
    color: var(--text-color);
  }

  &__content {
    margin-top: 40px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    height: 70vh;
    overflow: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio {
    &__content {
      grid-template-columns: 1fr;
      padding-right: 10px;
      margin-bottom: 40px;
    }
  }
}
